<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         version="3.1">

    <servlet>
    
        <servlet-name>fibo</servlet-name>
        <servlet-class>com.demo.FibonacciServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>fibo</servlet-name>
        <url-pattern>/fibonacci</url-pattern>
    </servlet-mapping>

</web-app>